<div class="service-container" role="main">

    <div class="row">

        <div class="col-10 h-100">
            <!-- Use proper heading levels and ensure text contrasts and font sizes are readable -->
            <app-paragraph role="article" [heading]="paragraphData.paragraphs.services.servicesHeading"
                [paragraph]="paragraphData.paragraphs.services.serviceContent" aria-labelledby="servicesHeading"></app-paragraph>
        </div>

        <div class=" col-xs-12 col-md-2">
            <!-- Add a meaningful alt text to the image for screen readers -->
            <img src="{{base_url}}/assets/images/services.png"
                class="img-fluid rounded w-100 service-img-height" alt="Services advertisement image.">
        </div>

    </div>

    <div class="row" *ngFor="let item of paragraphData.paragraphs.services.subContent">
        <div class="col-12">
            <!-- Ensure that the app-paragraph component in this loop is also accessible -->
            <app-paragraph role="article" [heading]="item.heading" [paragraph]="item.content" aria-labelledby="itemHeading"></app-paragraph>
        </div>
    </div>

</div>
