<app-paragraph [heading]="paragraphBox.paragraphs.home_page_welcome.heading"
  [paragraph]="paragraphBox.paragraphs.home_page_welcome.content" role="article">
</app-paragraph>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-6">
      <button class="btn btn-cornflower p-1 mb-2 " (click)="openDialog()">
        Meet the Empower Community
      </button>




      <!-- Ensure proper heading level for document structure -->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4" *ngFor="let item of paragraphBox.default.paragraphs.home_page_minor_paragraphs" role="section">
      <app-paragraph [heading]="item.heading" [paragraph]="item.content" role="article"></app-paragraph>
      <a href="{{item.link}}" >Learn More</a>
    </div>
  </div>

  <hr>

  <!-- 
  <div role="grid" aria-colcount="4">
    <div role="rowgroup">
      <div role="row" aria-rowindex="1">
        <span role="columnheader">First Name</span>
        <span role="columnheader">Last Name</span>
        <span role="columnheader">Company</span>
        <span role="columnheader">Address</span>
      </div>
    </div>
    <div role="rowgroup">
      <div role="row" aria-rowindex="2">
        <span role="gridcell">Fred</span>
        <span role="gridcell">Jackson</span>
        <span role="gridcell">Acme, Inc.</span>
        <span role="gridcell">123 Broad St.</span>
      </div>
      <div role="row" aria-rowindex="3">
        <span role="gridcell">Sara</span>
        <span role="gridcell">James</span>
        <span role="gridcell">Acme, Inc.</span>
        <span role="gridcell">123 Broad St.</span>
      </div>
    </div>
  </div>
  -->

</div>
