<h2 mat-dialog-title>Community Steering Committee</h2>

<mat-dialog-content class="mat-typography">
  <p>We receive "aha!" moments from product managers who try our services for the first time. 
    We have conducted many lab days, workshops, and usability testing services for various organizations, including:</p>
  
  <ul role="list">
    <li role="listitem">McGill University</li>
    <li role="listitem">Walmart.ca</li>
    <li role="listitem">Apple.ca</li>
    <li role="listitem">Google.ca</li>
    <li role="listitem">Government of Canada</li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>